body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
/*	font-family: 'Vibur', cursive;
	font-family: 'Bubbler One', sans-serif;*/
}

nav {
	display: block;
	position: fixed;
	z-index: 100;
	height: 100vh;
	background-color: #eeeeee;
}
nav > div {
	display: block;
	text-align: center;
	padding-top: 40px;
}
nav h1 {
	font-family: 'Vibur', cursive;
}
nav  a {
	text-decoration: none;
}
nav li {
	list-style-type: none;
	padding: 10px;
}
nav ul {
	padding: 10px 40px;
	margin-top: 50px;
}
.social-media{
	position: absolute;
	padding: 5px;
	bottom: 0;
}
.social-media > div{
	display: inline-block;
	padding: 5px;
}


.image-fix {
	background-image: url("./../img/bom.jpg");	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: top;
}
/*#intro { zoom in to out
background-image: url("./../img/bom.jpg");
}*/
.words {
	font-family: 'Vibur', cursive;
	position: absolute;
	margin-left: 60vw;
	margin-top: 10vh;
	text-align: left;
}

.main-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #ffffff;
	width: 100vw;
}
/*opened menu bar class*/
.main-wrap.open {
	left: 150px;
}

.burger {
	position: fixed;
	z-index: 101;
	display: inline-block;
	/*vertical-align: top;*/
	height: 15px;
	width: 20px;
	margin: 15px;
}
.burger  span {
  display: block;
  height: 5px;
  margin-bottom: 3px;
  width: 30px;
  border-radius: 1px;
  background-color: #000000;
}
.burger:hover {
	cursor: pointer;
}


.wrapped {
	margin: 0;
	padding: 0;
	display: flex;
	/*align-items: center;*/
	justify-content: space-between;
}
/*    .wrapped > div {
        flex: 1;
    }*/
.left-wrapped {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0%;
	margin: 0%;
	width: 50%;
	/*min-height: 30%;*/
	background-color: #ffffff;
	/*border-radius: 5px;*/
}
.right-wrapped {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0%;
	margin: 0%;
	width: 50%;
	/*min-height: 30%;*/
	background-color: #ffffff;
	/*border-radius: 5px;*/
}
.right-wrappedd {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0%;
	margin: 0%;
	width: 50%;
	/*min-height: 30%;*/
	background-color: #ffffff;
	/*border-radius: 5px;*/
}

.product img{
	height: 350px;
	/*width: 350px;*/
}
.product a {
	height: 150px;
/*	width: 350px;
	overflow: hidden;*/
}





