body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
/*	font-family: 'Vibur', cursive;
	font-family: 'Bubbler One', sans-serif;
	font-family: 'Comfortaa', cursive;
*/
}

nav {
	display: block;
	position: fixed;
	z-index: 900;
	width: 255px;
	height: 100vh;
	background-color: #fafafa;
	box-shadow: 1px 0px 10px 1px;
	margin-top: 0;
	/*margin-left: -250px;*/
}
nav > div {
	display: block;
	text-align: center;
	padding-top: 40px;
}
nav h1 {
	color: #ff0000;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 300;
	font-family: 'Comfortaa', cursive;

}
nav  a {
	text-decoration: none;
	color: #101010;
	letter-spacing: .2em;
}
nav a:hover {
	color: red;
}
nav li {
	list-style-type: none;
	padding: 10px;
}
nav ul {
	padding: 10px 40px;
	margin-top: 50px;
}
.social-media{
	position: absolute;
	padding: 0;
	margin: auto;
	display: flex;
	bottom: 0;
	overflow: hidden;
	width: 255px;
}
.social-media > div {
	flex-grow: 1;
	color: #fafafa;
	display: inline-block;
	/*padding: 5px;*/
	border-top: 1px solid #aaaaaa;
	/*overflow: hidden;*/
}
.sm > a {
	display: block;
	padding: auto;
}
.social-media > div:nth-child(1) {
	border-right: 1px solid #aaaaaa;
}
.social-media > div:nth-child(3) {
	border-left: 1px solid #aaaaaa;
}

/*nav bar bottom social media buttons*/
.fa {
	margin: 10px;
	color: red;
}
.fa:hover {
	color: #aaaaaa;
	animation: whatevs 1s ease-in-out;
}
@keyframes whatevs {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
}

/*---------------------------------------------------*/
.image-top {
	position: relative;
	background-image: url("./../img/makeup.jpg");	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	background-position: top;
	/*z-index: 1;*/
	overflow: hidden;
	opacity: 0;
	/* .5s delay */
	animation: opac-in 1s linear 0.5s forwards;
}
@keyframes opac-in{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
/*#intro { zoom in to out
background-image: url("./../img/bom.jpg");
}*/
.words {
	font-family: 'Comfortaa', cursive;
	position: absolute;
	margin-left: 35%;
	margin-top: 30vh;
	text-align: center;
	letter-spacing: .2em;
	opacity: 0;
	animation: words-down .22s linear 1s forwards;
	border: 8px solid black;
	box-shadow: 0px 0px 80px #ffffff;
	background-color: rgba(255,255,255,0.7);
	padding: 50px;
	cursor: pointer;
}
.words h1 {
	color: red;
}
@keyframes words-down {
	0% { margin-top: 20vh;
		opacity: 0; }	
	100% { margin-top: 30vh;
		opacity: 1; }
}

.main-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #ffffff;
	width: 100vw;
}
/*opened menu bar class*/
.open {
	left: 255px;
}

.burger {
	position: fixed;
	z-index: 901;
	display: inline-block;
	/*vertical-align: top;*/
	height: 20px;
	width: 30px;
	margin: 15px;
}
.burger  span {
  display: block;
  height: 5px;
  margin-bottom: 3px;
  width: 30px;
  border-radius: 1px;
  background-color: #ffc8c8;
  transition: background-color 1s ease;

}
.burger:hover {
	cursor: pointer;
}
.span-toggle {
	background-color: #ff7b7b !important;
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
.wrapped {
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	/*align-items: center;*/
	justify-content: space-between;
	background-color: #ffffff;
	opacity: 0;
	animation: opa-on 1s ease-in forwards;
}
/*  Page transition fade in  */
@keyframes opa-on {
	0% { opacity: 0; }
	100% { opacity: 1; }
}



.left-wrapped {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0%;
	margin: 0%;
	margin-left: 5%;
	width: 50%;
	/*min-height: 30%;*/
	background-color: #ffffff;
	/*border-radius: 5px;*/
}
/*.left-wrapped2 {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-left: 10%;
	width: 50%;
	background-color: #ffffff;
}*/

.mid-wrapped {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0%;
	margin: 0%;
	width: 50%;
	/*min-height: 30%;*/
	background-color: #ffffff;
	/*border-radius: 5px;*/
}
.right-wrapped {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0%;
	margin: 0%;
	width: 50%;
	/*min-height: 30%;*/
	background-color: #ffffff;
	/*border-radius: 5px;*/
}

.product {
	overflow: hidden;
	height: 350px;
	width: 350px;
	margin-top: 50px;
	margin-bottom: 50px;
}
/*.product img{
	height: 350px;
}*/
.product a {
	position: relative;
	display: block;
/*	height: 350px;
	width: 350px;*/
	margin-bottom: 0px;
	cursor: pointer;
	color: #000000;
	font-size: 14px;
	overflow: hidden;
		border: 2px solid black;
}
.product span {
	display: none;
}
.product a:hover span{
	display: block;
	position: absolute;
	float: left;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.0);
	padding-top: 95%;
	color: rgba(200,200,200,1.0);
	font-size: 12px;
	font-weight: 300;
	letter-spacing: .1em;
	text-align: center;
	opacity: 0;
	animation: prod-words .4s ease-in forwards;
}
@keyframes prod-words {
	0% { opacity: 0;
		background-color: rgba(255,255,255,0.0);
		color: rgba(200,200,200,0.0);
		padding-top: 100%; }	
		50% {
		background-color: rgba(255,255,255,0.4);
		color: rgba(200,200,200,0.0);
		padding-top: 100%; }

	100% { opacity: 1;
		background-color: rgba(255,255,255,0.4);
		color: rgba(200,100,100,1.0);
		padding-top: 95%; }
}

.iz {
	transform: scale(1.05);
	transition: all .3s ease-in;
}
.transition {
	transform: scale(0.9) rotate(7deg);
}

/*COLLECTIONS PAGE ADD TO CART*/
#fa-cart {
	color: #ff7b7b;
	position: absolute;
	top: 1%;
	right: 1%;
	z-index: 2;
	font-size: 50px;
	opacity: 0;
	animation: cart-trans.1s ease-in;
	transition: all .3s ease-in;
}
#fa-cart:hover {
	color: #ffc8c8;
}
#fa-cart.cart-opacity {
	opacity: 1;
}
@keyframes cart-trans {
	0% {opacity: 0;}
	100% {opacity: 1;}
}





/*  LOOKBOOK  */
.wrapped2 {
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	background-color: #ffffff;
	opacity: 0;
	animation: opa-on 1s ease-in forwards;
}
/*  Page transition fade in  */
@keyframes opa-on {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.lookiebook {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.look {
}


/*ABOUt PAGE*/
.wrapped3 {
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	opacity: 0;
	animation: opa-on 1s ease-in forwards;
}
@keyframes opa-on {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.left-about {
	margin-top: 100px;
	text-align: right;
}
.right-about {
	width: 40%;
	margin: 5px;
	margin-top: 100px;
	text-align: left;
}


footer {
	bottom: 0;
	text-align: center;
}
