body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
/*	font-family: 'Vibur', cursive;
	font-family: 'Bubbler One', sans-serif;
	font-family: 'Comfortaa', cursive;
*/
}

nav {
	display: block;
	position: fixed;
	z-index: 100;
	width: 200px;
	height: 100vh;
	background-color: #fafafa;
	box-shadow: 1px 0px 10px 1px;
}
nav > div {
	display: block;
	text-align: center;
	padding-top: 40px;
}
nav h1 {
	color: #ff0000;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 300;
	font-family: 'Comfortaa', cursive;

}
nav  a {
	text-decoration: none;
	color: #101010;
}
nav a:hover {
	color: #aa0000;
}
nav li {
	list-style-type: none;
	padding: 10px;
}
nav ul {
	padding: 10px 40px;
	margin-top: 50px;
}
.social-media{
	position: absolute;
	padding: 5px;
	bottom: 0;
}
.social-media > div{
	color: #fafafa;
	display: inline-block;
	padding: 5px;
}


.image-fix {
	background-image: url("./../img/bom.jpg");	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: top;
}
/*#intro { zoom in to out
background-image: url("./../img/bom.jpg");
}*/
.words {
	font-family: 'Vibur', cursive;
	position: absolute;
	margin-left: 60vw;
	margin-top: 10vh;
	text-align: left;
}

.main-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #ffffff;
	width: 100vw;
}
/*opened menu bar class*/
.main-wrap.open {
	left: 150px;
}

.burger {
	position: fixed;
	z-index: 101;
	display: inline-block;
	/*vertical-align: top;*/
	height: 20px;
	width: 30px;
	margin: 15px;
}
.burger  span {
  display: block;
  height: 5px;
  margin-bottom: 3px;
  width: 30px;
  border-radius: 1px;
  background-color: #aeaeae;
}
.burger:hover {
	cursor: pointer;
}
.span-toggle {
	background-color: #000000;
}


.wrapped {
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	/*align-items: center;*/
	justify-content: space-between;
	background-color: #fafafa;
}
/*    .wrapped > div {
        flex: 1;
    }*/




.left-wrapped {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0%;
	margin: 0%;
	margin-left: 5%;
	width: 50%;
	/*min-height: 30%;*/
	background-color: #ffffff;
	/*border-radius: 5px;*/
}
.mid-wrapped {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0%;
	margin: 0%;
	width: 50%;
	/*min-height: 30%;*/
	background-color: #ffffff;
	/*border-radius: 5px;*/
}
.right-wrapped {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 0%;
	margin: 0%;
	width: 50%;
	/*min-height: 30%;*/
	background-color: #ffffff;
	/*border-radius: 5px;*/
}

.product {
	overflow: hidden;
	height: 350px;
	width: 350px;
}
.product img{
	height: 350px;
}
.product a {
	position: relative;
	display: block;
/*	height: 350px;
	width: 350px;*/
	margin: 0;
	cursor: pointer;
	color: #fafafa;
	font-size: 14px;
	overflow: hidden;
}
.product span {
	display: none;
}
.product a:hover span{
	display: block;
	position: absolute;
	float: left;
	left: 0px;
	top: 50%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
	padding: 5px;
}
.iz {
	transition: all 1.8s ease;
}
.transition {
	transform: scale(1.08) rotate(5deg);
}






footer {
	text-align: center;
}
