body {
margin: 0;

}

nav  a {
	text-decoration: none;
}

nav li {
	list-style-type: none;
	padding: 5px;
}


.social-media div{
	display: inline-block;
	float: left;
	padding: 5px;
}


.image-fix {
	background-image: url("./../img/bom.jpg");	
}
#intro { /*zoom in to out*/
	background-image: url("./../img/bom.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: top;
	animation: ;
}
h1 {
	text-align: center;
}





